{% extends "base.html" %}

{% block title %} Home of the News!! {% endblock %}

{% block h_1 %}This is the home of the World News{% endblock %}

{% block p_1 %}
    <strong>1st Block</strong>, We are working around the hour for full and accurate coverage of the news, allover the world. 
    Our greatest responsibility id to let you know what happens when it happens with no makeup.
{% endblock %}

{% block p_2 %}
    <strong>2nd Block</strong>, We are working around the hour for full and accurate coverage of the news, allover the world. 
    Our greatest responsibility id to let you know what happens when it happens with no makeup.

    <h3>{{name}} is {{age}} years old!!</h3> <!-- context variable, must be inside one of the blocks -->

    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
{% endblock %}


